/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/* Hide class*/
.hide {
    display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    scroll-behavior: smooth;
}

body {
    background: white;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(227, 227, 255, 1) 35%,
        rgba(203, 246, 255, 1) 100%
    );
}

section {
    margin: 20rem auto;
}

section > header {
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background: black;
    width: 30rem;
    border-radius: 5px;

    margin-bottom: 5rem;

    color: rgb(240, 240, 240);
}

section > header > h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
}

@media (max-width: 43.75em) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 34em) {
    section {
        margin: 10rem auto;
    }
}

/******************************************
/* LAYOUT
/*******************************************/

/*HEADER **********************************/
.header {
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.header > svg.logo {
    width: 5rem;
    height: 5rem;
    /* margin-left: 2rem; */
}
.header > .main-nav {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .main-nav .ul-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */

    border-radius: 5px;
    padding: 2px 2px 0 0;
    background: black
        linear-gradient(
            45deg,
            transparent 8%,
            yellow 8.2%,
            white 8.4% 8.6%,
            yellow 8.8%,
            transparent 9%
        );
    background-size: 100%;
    transition: background-size 9s;
}

.header > .main-nav .ul-wrapper.light {
    background-size: 1700%;
}

.header > .main-nav ul {
    background-color: black;
    padding: 1.5rem 2rem;
    border-radius: 5px;

    overflow: hidden;

    display: flex;
    gap: 2rem;
}

.header > .main-nav li {
    font-size: 1.2rem;
}
.header > .main-nav li > a:link,
.header > .main-nav li > a:visited {
    display: inline-block;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    transition: all 0.3s;
}
.header > .main-nav li > a:hover,
.header > .main-nav li > a:active {
    transform: scale(1.2);
    color: white;
}

.header > .main-nav .burger-btn,
.header > .main-nav .close-btn {
    display: none;
    z-index: 1500;
}

.header > .main-nav .burger-icon {
    width: 4rem;
}

@media screen and (max-width: 34em) {
    .header > .main-nav {
        justify-content: flex-end;
    }
    .header > .main-nav .ul-wrapper {
        background: none;
        position: none;
    }

    .header > .main-nav .close-btn,
    .header > .main-nav .burger-btn {
        display: inline-block;
        cursor: pointer;
    }

    .header > .main-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        filter: opacity(0%);

        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: rgba(255, 255, 255, 0.569);
        backdrop-filter: blur(5px);
        position: fixed;

        z-index: 1000;

        transition: all 0.5s;
    }

    .header > .main-nav ul.show-flex {
        height: 100vh;
        filter: opacity(100%);
        display: flex;
    }

    .header > .main-nav ul li {
        z-index: 150;
        padding: 0.4rem 0.9rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .header > .main-nav ul li:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .header > .main-nav li > a:link,
    .header > .main-nav li > a:visited {
        color: black;
        font-size: 3rem;
    }
}

/* HERO SECTION *****************************************/
section.hero {
    display: flex;
    max-width: 100rem;
    justify-content: space-evenly;
    padding: 5rem 0;
    margin-bottom: 10rem;
}

section.hero .hero-img-container {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    filter: opacity(1%);
    transform: translateX(-70vw) scale(3);
    transition: all 1.5s;
}

section.hero .hero-img-container.move-right {
    transform: translateX(0vw) scale(1);
    filter: opacity(100%);
}

section.hero .hero-portrait {
    width: 100%;
    height: 100%;
}

section.hero .hero-header {
    margin: 0;
    padding: 0;
    width: inherit;
    background: none;
    color: black;

    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    transform: translateX(50vw) scale(2);
    filter: opacity(5%);

    transition: all 1.5s;
}

section.hero .hero-header p {
    font-size: 10rem;
    text-transform: capitalize;
}

section.hero .hero-header h1 {
    font-size: 5rem;
}

section.hero .hero-header #hero-dinamic-text {
    margin-top: 2rem;
    font-size: 3rem;
    height: 2rem;
}

section.hero .hero-header.move-left {
    transform: translateX(0vw) scale(1);
    filter: opacity(100%);
}

@media screen and (max-width: 56.3em) {
    section.hero .hero-header p {
        font-size: 7.5rem;
    }
    section.hero .hero-header h1 {
        font-size: 4rem;
    }
}
@media screen and (max-width: 37.5em) {
    section.hero .hero-header p {
        font-size: 6.5rem;
    }
    section.hero .hero-header h1 {
        font-size: 3rem;
    }
    section.hero .hero-header #hero-dinamic-text {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 34em) {
    section.hero {
        position: relative;
        height: 60rem;
        margin: 5rem auto;
        display: block;
    }

    section.hero .hero-img-container {
        position: absolute;
        left: -50%;
        top: 15rem;

        transform: translateX(0%) scale(3);
    }
    section.hero .hero-img-container.move-right {
        transform: translateX(-50%) scale(1);
        left: 50%;
        filter: opacity(100%);
    }

    section.hero .hero-header {
        position: absolute;
        width: 36rem;
        left: 150%;
        transform: translateX(0%) scale(3);
        filter: opacity(5%);
    }
    section.hero .hero-header.move-left {
        left: 50%;
        transform: translateX(-50%) scale(1);
        filter: opacity(100%);
    }
    section.hero .hero-header p {
        font-size: 5rem;
        margin-bottom: 26rem;
        text-align: center;
    }
    section.hero .hero-header h1 {
        text-align: center;
    }
}

/* PROJECTS SECTION **************************/
.section-projects {
    max-width: 100rem;
}

.project-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;

    padding: 1rem 2rem;
}

.project-card {
    position: relative;
    border-radius: 1.5rem;
    padding: 0.5rem;
    overflow: hidden;

    height: 40vh;

    background: black;

    transition: transform 0.3s;
}
.project-card:hover,
.project-card:active {
    transform: scale(1.05);
}

.project-card h3 {
    position: absolute;
    top: 0.05rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.5rem 1rem;
    border-radius: 5px;

    color: white;
    font-size: 2rem;
    text-align: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.35);
}
.project-card .project-card-img {
    max-width: 25rem;
    height: 100%;
    object-fit: contain;
    border-radius: 1.5rem;
}
.project-card .btn-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.project-card .project-card-btn:link,
.project-card .project-card-btn:visited {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.489);
    box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.35);
    transition: transform 0.5s;
}
.project-card .project-card-btn:hover,
.project-card .project-card-btn:active {
    transform: scale(1.1);
}

.project-card .card-demo-icon {
    width: 100%;
    height: 100%;
}

@media (max-width: 43.75em) {
    .project-card {
        height: 30vh;
    }
}

@media screen and (max-width: 37.5em) {
    .project-card {
        height: 26vh;
    }
}

@media screen and (max-width: 34em) {
    .project-card {
        /* height: auto; */
    }
}

/* SECTION TOOLS *************************/
.section-tools {
    background: rgba(255, 255, 255, 0.622);
    padding: 20rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: skewY(-5deg);
}

.section-tools > header {
    margin-bottom: 0;
    transform: skewy(5deg) translateY(5px);
}
.section-tools > .section-tools-wrapper {
    border: 5px solid black;
    border-radius: 5px;
    padding: 5rem;
    transform: skewY(5deg);
    max-width: 80rem;

    box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.35);
}

.section-tools > .section-tools-wrapper > p {
    font-size: 2rem;
    padding: 0 5rem;
}
.section-tools .section-tools-list {
    margin: 5rem 2.5rem;
}
.section-tools .section-tools-list > li {
    display: flex;
    margin-bottom: 3rem;
    gap: 3rem;
}

.section-tools .section-tools-list > li p {
    font-size: 1.4rem;
}
.section-tools .section-tools-list > li p span {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 56.3em) {
    .section-tools > .section-tools-wrapper {
        max-width: 65rem;
    }
}

@media screen and (max-width: 34em) {
    .section-tools > .section-tools-wrapper {
        max-width: none;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
}

/* SECTION ABOUT *********************/
.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-about > ul {
    max-width: 80rem;
    padding: 5rem 10rem;
    border-radius: 5px;
    background: linear-gradient(
        15deg,
        rgba(203, 246, 255, 0.7) 0,
        rgba(227, 227, 255, 1) 40%
    );
    box-shadow: 0 0 5rem 1px rgba(0, 0, 0, 0.05);

    transition: all 0.7s;
}

.section-about > ul:hover {
    background: linear-gradient(
        15deg,
        rgba(203, 246, 255, 0.7) 0,
        rgba(227, 227, 255, 1) 60%
    );
    box-shadow: 0 0 8rem 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.section-about > ul > li {
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

@media screen and (max-width: 56.3em) {
    .section-about > ul {
        max-width: 65rem;
    }
}

@media screen and (max-width: 34em) {
    .section-about > ul {
        max-width: none;
        border-radius: 0;
    }
}

/* SECTION CONTACT ***********************/
.section-contact form {
    margin: 0 auto;
    border-radius: 5px;
    max-width: 60rem;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 4rem;
}
.section-contact form .input-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}
.section-contact form .input-wrapper > label {
    text-transform: capitalize;
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.section-contact form input,
.section-contact form textarea {
    border-radius: 5px;
    margin-bottom: 1.5rem;

    border: none;
    resize: none;
}
.section-contact form .message-lbl {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.6rem;
}
.section-contact form .message-input {
    grid-column: 2;
    grid-row: 2/5;
    font-size: 1.6rem;
}

.section-contact form .name-lbl,
.section-contact form .name-input,
.section-contact form .email-lbl,
.section-contact form .email-input {
    grid-column: 1;
    font-size: 1.6rem;
}
.section-contact form input {
    height: 3rem;
}

.section-contact .send-btn {
    background: linear-gradient(
        to bottom,
        rgb(18, 59, 169) 0% 5%,
        rgb(27, 6, 130) 20% 90%,
        rgb(16, 0, 93) 100%
    );
    color: white;
    border: none;

    padding: 2rem 1.5rem;
    border-radius: 5px;
    font-size: 1.8rem;

    box-shadow: 0 5px 1rem 1px rgba(0, 0, 0, 0.2);

    transition: all 0.5s;
}
.section-contact .send-btn:hover {
    box-shadow: 0 7px 2rem 1px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px) scale(1.05);
}

.section-contact .send-btn:active {
    background: linear-gradient(
        to bottom,
        rgb(18, 59, 169) 0% 5%,
        rgb(32, 8, 154) 20% 90%,
        rgb(16, 0, 93) 100%
    );
    box-shadow: 0 3px 2rem 1px rgba(0, 0, 0, 0.1);
    transform: translateY(1px) scale(0.95);
}

@media screen and (max-width: 34em) {
    .section-contact form .input-wrapper {
        padding: 0 5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }
    .section-contact form label {
        text-align: center;
    }

    .section-contact form .message-lbl,
    .section-contact form .message-input {
        grid-column: 1;
        grid-row: auto;
    }
    .section-contact form .message-input {
        grid-row: span 3;
    }
}

/* FOOTER ********************************/

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 30rem;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    z-index: 0;
}

.footer .footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer .footer-logo-wrapper svg {
    width: 2rem;
    height: 2rem;
}
.footer .footer-logo-wrapper h4 {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer .footer-logo-wrapper h4 span {
    font-size: 2rem;
}

.footer .footer-links {
    display: flex;
    gap: 4rem;

    z-index: 10;
}

.footer .footer-links > li > a:link,
.footer .footer-links > li > a:visited {
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;

    transition: all 0.3s;
}

.footer .footer-links > li > a:hover,
.footer .footer-links > li > a:active {
    transform: scale(1.05);
    border-bottom: 2px solid white;
}

.footer .footer-rights-wrapper {
    color: white;
    z-index: 10;
}
.footer .footer-rights-wrapper p > a:link,
.footer .footer-rights-wrapper p > a:active {
    color: white;
}

.footer:before,
.footer:after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 400vw;
    min-height: 400vw;
    background-color: rgba(70, 70, 255, 0.471);
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 5;
}
.footer:before {
    top: 15vh;
    border-radius: 45%;
    animation-duration: 10s;
}
.footer:after {
    top: 12vh;
    opacity: 0.5;
    border-radius: 47%;
    animation-duration: 10s;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 34em) {
    /* for specificity added section and classes to the movements
    section.hero .hero-header.move-left {
        transform: translateX(40vw) scale(2);
    }

    section.hero .hero-img-container.move-right {
        transform: translateX(-50vw) scale(3.5);
    } */
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, 0.5%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0) rotateZ(360deg);
    }
}
